@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container">
        <p class="fs-3"><b>RFC</b></p>
        <p class="fw-bold">Genera tu Registro Federal de Contribuyentes.</p>
        <p>Solo necesitaremos:</p>
        <ul>
            <li>Nombre completo en mayúsculas sin acentos ni diéresis.</li>
            <li>Fecha de nacimiento.</li>
        </ul>
        <p>Vamos a crear tu RFC</p>
        <a href="/Home/IrGenerarRFC" class="btn btn-dark">Iniciar</a>
    </div>
</main>